.header {
    display: flex;
    justify-content: space-between;
    /* Розподіляє елементи рівномірно */
    align-items: center;
    /* Вирівнює елементи по вертикалі */
    padding: 24px 156px 24px 156px;
}

.header-nav,
.header-address {
    display: flex;
    align-items: center;
    /* Вирівнює дочірні елементи по центру */
}

.nav-list,
.contact-list {
    display: flex;
    gap: 0px 40px;
    /* Відстань між елементами */
    list-style: none;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #2E2F42;
    line-height: 1.2;
    letter-spacing: 3%;
    text-transform: uppercase;
    text-decoration: none;
}

.header-logo-highlight {
    color: #4D5AE5;
}

.nav-link,
.contact-link {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}

.nav-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contact-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.hero {
    background: #2e2f42;
    text-align: center;
    padding: 188px 472px 188px 472px;
}

.hero-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    color: #fff;
}

.hero-button {
    width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    padding: 16px 32px;
    background: #4d5ae5;
}

.advantages {
    padding: 120px 156px 120px 156px;
}

.advantages>.advantages-title {
    text-align: center;
}

.advantages>.advantages-list {
    display: flex;
    gap: 0px 40px;
    list-style-type: none;
}

.team {
    padding: 120px 156px 120px 156px;
    background: #f4f4fd;
}

.team>.team-title {
    text-align: center;
}

.team>.team-list {
    display: flex;
    gap: 0px 40px;
    list-style-type: none;
    margin-top: 72px;
}

.portfolio {
    padding: 120px 156px 120px 156px;
}

.portfolio>.portfolio-title {
    text-align: center;
}

.portfolio>.portfolio-list {
    display: flex;
    gap: 0px 40px;
    list-style-type: none;
    margin-top: 72px;
}

.footer {
    background: #2e2f42;
    padding: 100px 1020px 100px 156px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #f4f4fd;
    line-height: 1.2;
    letter-spacing: 3%;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-logo-highlight {
    color: #4d5ae5;
}

.footer-text {
    color: #f4f4fd;
}